<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Prequalifications
          <i
            class="icon-plus add-record pull-right"
            (click)="addRecord()"
            *ngIf="this.create"
          ></i>
        </div>
        <div class="card-body">
          <div *ngIf="tableData.length < 1 && isFetching">
            <div class="sk-fading-circle">
              <div class="sk-circle1 sk-circle"></div>
              <div class="sk-circle2 sk-circle"></div>
              <div class="sk-circle3 sk-circle"></div>
              <div class="sk-circle4 sk-circle"></div>
              <div class="sk-circle5 sk-circle"></div>
              <div class="sk-circle6 sk-circle"></div>
              <div class="sk-circle7 sk-circle"></div>
              <div class="sk-circle8 sk-circle"></div>
              <div class="sk-circle9 sk-circle"></div>
              <div class="sk-circle10 sk-circle"></div>
              <div class="sk-circle11 sk-circle"></div>
              <div class="sk-circle12 sk-circle"></div>
            </div>
          </div>
          <div class="table-responsive">
            <table
              *ngIf="tableData.length > 0 && !isFetching"
              class="table table-sm table-hover"
            >
              <thead>
                <tr>
                  <th>Prequalification</th>
                  <th class="text-center">Code</th>
                  <th>Description</th>
                  <th class="text-center">Active</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of tableData">
                  <td>{{ row.prequalification }}</td>
                  <td>{{ row.prequalification_code }}</td>
                  <td>{{ row.prequalification_description }}</td>
                  <td class="text-center">
                    <span
                      *ngIf="row.is_active"
                      class="cil-check table-check"
                    ></span>
                  </td>
                  <td class="text-center">
                    <i
                      class="cil-pen edit-record"
                      (click)="editRecord(row)"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Edit Record"
                      *ngIf="this.read_only"
                    ></i>
                    <i
                      class="cil-delete delete-record"
                      (click)="confirmDelete(row)"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Delete Record"
                      *ngIf="this.delete"
                    ></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- <div *ngIf="usePagination">
            <ul class="pagination">
              <li class="page-item" *ngIf="previous">
                <a class="page-link" (click)="fecthPrevious()">Previous</a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item" *ngIf="next">
                <a class="page-link" (click)="fecthNext()">Next</a>
              </li>
            </ul>
          </div> -->
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>

<!-- #maintModal="bs-modal" -->
<!-- modal -->
<div
  bsModal
  #maintModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="maintModalLabel">
          Prequalification Maintenance
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          [formGroup]="maintForm"
          (ngSubmit)="saveRecord()"
          novalidate
          autocomplete="off"
        >
          <div class="form-group">
            <div>
              <label for="prequalification" class="col-form-label"
                >Prequalification:</label
              >
            </div>
            <div>
              <small class="text-muted"
                >Identify the supplier prequalification.</small
              >
            </div>
            <div>
              <input
                type="text"
                class="form-control"
                id="prequalification"
                formControlName="prequalification"
                [readonly]="!this.modify"
              />
            </div>
          </div>

          <div class="form-group">
            <div>
              <label for="prequalification_code" class="col-form-label"
                >Code:</label
              >
            </div>
            <div>
              <small class="text-muted"
                >Provide a short code for the prequalification.</small
              >
            </div>
            <div>
              <input
                class="form-control"
                id="prequalification_code"
                formControlName="prequalification_code"
                [readonly]="!this.modify"
              />
            </div>
          </div>

          <div class="form-group">
            <div>
              <label for="prequalification_description" class="col-form-label"
                >Description:</label
              >
            </div>
            <div>
              <small class="text-muted"
                >Provide a more detailed description of the
                prequalification.</small
              >
            </div>
            <div>
              <textarea
                class="form-control"
                id="prequalification_description"
                formControlName="prequalification_description"
                [readonly]="!this.modify"
              ></textarea>
            </div>
          </div>

          <div class="form-group" col-sm-12>
            <div class="col-sm-12">
              <label class="col-form-label">Active</label>
            </div>
            <div class="col-sm-12">
              <small class="text-muted"
                >Prequalifications should not be deleted if there are records
                associated with them, but setting it to inactive will stop the
                status from being added to new records</small
              >
            </div>
            <div class="col-sm-12">
              <label class="switch switch-3d switch-success">
                <input
                  type="checkbox"
                  class="switch-input form-control"
                  formControlName="is_active"
                />
                <span class="switch-slider"></span>
              </label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="saveRecord()"
          [disabled]="!this.modify"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Delete form -->
<div
  bsModal
  #deleteModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirm Delete</h4>
        <button
          type="button"
          class="close"
          (click)="deleteModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Are you sure you want to delete the
          {{ recordTitle }} Prequalification?
        </p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="deleteModal.hide()"
          cdkFocusInitial
        >
          Cancel
        </button>
        <button type="button" class="btn btn-danger" (click)="deleteRecord()">
          Delete
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
