<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form
                [formGroup]="authForm"
                (ngSubmit)="saveForm()"
                novalidate
                autocomplete="off"
              >
                <h1>Reset Password</h1>
                <p class="text-muted">Request Password Reset</p>
                <!-- <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Username" autocomplete="username" required>
                </div> -->

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="icon-lock"></i
                    ></span>
                  </div>
                  <input
                    #password
                    type="password"
                    class="form-control"
                    placeholder="Password"
                    autocomplete="new-password"
                    formControlName="password"
                    required
                  />
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="icon-lock"></i
                    ></span>
                  </div>
                  <div
                    *ngIf="
                      password.invalid && (password.dirty || password.touched)
                    "
                    class="login-error-message"
                  >
                    Please enter a password
                  </div>
                  <input
                    #password2
                    type="password"
                    class="form-control"
                    placeholder="Repeat password"
                    autocomplete="new-password"
                    formControlName="password2"
                    required
                  />
                </div>
                <div
                  *ngIf="
                    !password === password2 &&
                    (password.dirty || password.touched)
                  "
                  class="login-error-message"
                >
                  The passwords do not match
                </div>

                <button
                  type="submit"
                  class="btn btn-block btn-success"
                  [disabled]="password.invalid"
                >
                  Reset Password
                </button>
              </form>
            </div>
            <div class="card-footer p-4">
              <div class="row">
                <div class="col-12">
                  <button
                    class="btn btn-block btn-link"
                    type="button"
                    routerLink="/login"
                  >
                    <span>Don't reset, just login...</span>
                  </button>
                </div>
              </div>


              <!-- <div class="row">
                <div class="col-6">
                  <button class="btn btn-block btn-facebook" type="button">
                    <span>facebook</span>
                  </button>
                </div>
                <div class="col-6">
                  <button class="btn btn-block btn-twitter" type="button">
                    <span>twitter</span>
                  </button>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
