<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Product Group
          <i
            class="icon-plus add-record pull-right"
            (click)="addRecord()"
            *ngIf="this.create"
          ></i>
        </div>
        <div class="card-body">
          <!-- <div *ngIf="tableData.length < 1 && isFetching"> -->
          <div *ngIf="isFetching">
            <div class="sk-fading-circle">
              <div class="sk-circle1 sk-circle"></div>
              <div class="sk-circle2 sk-circle"></div>
              <div class="sk-circle3 sk-circle"></div>
              <div class="sk-circle4 sk-circle"></div>
              <div class="sk-circle5 sk-circle"></div>
              <div class="sk-circle6 sk-circle"></div>
              <div class="sk-circle7 sk-circle"></div>
              <div class="sk-circle8 sk-circle"></div>
              <div class="sk-circle9 sk-circle"></div>
              <div class="sk-circle10 sk-circle"></div>
              <div class="sk-circle11 sk-circle"></div>
              <div class="sk-circle12 sk-circle"></div>
            </div>
          </div>
          <!-- <table
            *ngIf="tableData.length > 0 && !isFetching"
            class="table table-sm table-hover"
          > -->
          <div class="table-responsive">
            <table *ngIf="!isFetching" class="table table-sm table-hover">
              <thead>
                <tr>
                  <th>Product Group</th>
                  <th>Description</th>
                  <th class="text-center">Active</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of tableData$ | async">
                  <td>{{ row.product_group }}</td>
                  <td>{{ row.product_group_description }}</td>
                  <td class="text-center">
                    <span
                      *ngIf="row.is_active"
                      class="cil-check table-check"
                    ></span>
                  </td>
                  <td class="text-center">
                    <i
                      class="cil-pen edit-record"
                      (click)="editRecord(row)"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Edit Record"
                      *ngIf="this.read_only"
                    ></i>
                    <i
                      class="cil-delete delete-record"
                      (click)="confirmDelete(row)"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Delete Record"
                      *ngIf="this.delete"
                    ></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>

<!-- #maintModal="bs-modal" -->
<!-- modal -->
<div
  bsModal
  #maintModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="maintModalLabel">
          Product Group Maintenance
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          [formGroup]="maintForm"
          (ngSubmit)="saveRecord()"
          novalidate
          autocomplete="off"
        >
          <div class="form-group">
            <div>
              <label for="product_group" class="col-form-label"
                >Product Group:</label
              >
            </div>
            <div>
              <small class="text-muted"
                >Identify the team, teams are used to groups individuals based
                and is used to control access to some records.</small
              >
            </div>
            <div>
              <input
                type="text"
                class="form-control"
                id="product_group"
                formControlName="product_group"
                [readonly]="!this.modify"
              />
            </div>
          </div>
          <div class="form-group">
            <div>
              <label for="product_group_description" class="col-form-label"
                >Description:</label
              >
            </div>
            <div>
              <small class="text-muted"
                >Provide a more detailed description of the product
                group.</small
              >
            </div>
            <div>
              <textarea
                class="form-control"
                id="product_group_description"
                formControlName="product_group_description"
                [readonly]="!this.modify"
              ></textarea>
            </div>
          </div>

          <div class="form-group" col-sm-12>
            <div class="col-sm-12">
              <label class="col-form-label">Active</label>
            </div>
            <div class="col-sm-12">
              <small class="text-muted"
                >Product Groups should not be deleted if there are records
                associated with them, but setting it to inactive will stop the
                product group from being added to new records</small
              >
            </div>
            <div class="col-sm-12">
              <label class="switch switch-3d switch-success">
                <input
                  type="checkbox"
                  class="switch-input form-control"
                  formControlName="is_active"
                />
                <span class="switch-slider"></span>
              </label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="saveRecord()"
          [disabled]="!this.modify"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>

<div
  bsModal
  #deleteModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirm Delete</h4>
        <button
          type="button"
          class="close"
          (click)="deleteModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete the {{ recordTitle }} Team?</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="deleteModal.hide()"
          cdkFocusInitial
        >
          Cancel
        </button>
        <button type="button" class="btn btn-danger" (click)="deleteRecord()">
          Delete
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
