<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> User Access
          <!-- <i class="icon-plus add-record pull-right" (click)="addRecord()"></i> -->
        </div>
        <div class="card-body">
          <!-- <div *ngIf="tableData.length < 1 && isFetching"> -->
          <div *ngIf="isFetching">
            <div class="sk-fading-circle">
              <div class="sk-circle1 sk-circle"></div>
              <div class="sk-circle2 sk-circle"></div>
              <div class="sk-circle3 sk-circle"></div>
              <div class="sk-circle4 sk-circle"></div>
              <div class="sk-circle5 sk-circle"></div>
              <div class="sk-circle6 sk-circle"></div>
              <div class="sk-circle7 sk-circle"></div>
              <div class="sk-circle8 sk-circle"></div>
              <div class="sk-circle9 sk-circle"></div>
              <div class="sk-circle10 sk-circle"></div>
              <div class="sk-circle11 sk-circle"></div>
              <div class="sk-circle12 sk-circle"></div>
            </div>
          </div>
          <!-- <table
            *ngIf="tableData.length > 0 && !isFetching"
            class="table table-sm table-hover"
          > -->
          <div class="table-responsive">
            <table *ngIf="!isFetching" class="table table-sm table-hover">
              <thead>
                <tr>
                  <th>Username</th>
                  <th
                    data-field="Active"
                    data-sortable="true"
                    class="text-center"
                  >
                    Active
                  </th>
                  <th class="text-center">Date Added</th>
                  <th class="text-center">Last Login</th>
                  <th class="text-center">User Type</th>
                  <th class="text-center">Companies</th>
                  <th class="text-center">Forward Plans</th>
                  <th class="text-center">Processes</th>
                  <th class="text-center">Contracts</th>
                  <th class="text-center">Purchase Orders</th>
                  <th class="text-center">Tasks</th>
                  <th class="text-center">People</th>
                  <th class="text-center">System Admin</th>
                  <th class="text-center">User Admin</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of tableData; let i = index">
                  <td class="clickable" (click)="editRecord(row)">
                    {{ row.email }}
                  </td>
                  <td class="text-center">
                    <span
                      *ngIf="row.is_active"
                      class="cil-check table-check"
                    ></span>
                  </td>
                  <td class="text-center">{{ row.date_added }}</td>
                  <td class="text-center">{{ row.last_logged_in }}</td>
                  <td class="text-center">{{ row.user_type }}</td>
                  <td class="text-center">{{ row.companies }}</td>
                  <td class="text-center">{{ row.forward_plans }}</td>
                  <td class="text-center">{{ row.processes }}</td>
                  <td class="text-center">{{ row.contracts }}</td>
                  <td class="text-center">{{ row.purchase_orders }}</td>
                  <td class="text-center">{{ row.tasks }}</td>
                  <td class="text-center">{{ row.people }}</td>
                  <td class="text-center">{{ row.system_params }}</td>
                  <td class="text-center">{{ row.user_admin }}</td>
                  <td class="text-center">
                    <i
                      class="cil-pen edit-record"
                      (click)="editRecord(row)"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Edit Record"
                    ></i>
                    <i
                      class="cil-delete delete-record"
                      (click)="confirmDelete(row)"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Delete Record"
                    ></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>

<!-- #maintModal="bs-modal" -->
<!-- modal -->
<div
  bsModal
  #maintModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="maintModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="maintModalLabel">
          User Access Maintenance
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          [formGroup]="maintForm"
          (ngSubmit)="saveRecord()"
          novalidate
          autocomplete="off"
        >
          <div class="form-group">
            <div>
              <label for="contract_type" class="col-form-label"
                >User Name:</label
              >
            </div>
            <div>
              <small class="text-muted"
                >Set the user type and grant access to each function for the new
                user.</small
              >
            </div>
            <div>
              <input
                type="text"
                class="form-control"
                id="email"
                formControlName="email"
                disabled
              />
            </div>
          </div>

          <div class="form-group" col-sm-12>
            <div class="col-sm-12">
              <label class="col-form-label">Active</label>
            </div>
            <div class="col-sm-12">
              <small class="text-muted"
                >Setting a user to inactive will prevent them from loggin in to
                TractsTraka.</small
              >
            </div>
            <div class="col-sm-12">
              <label class="switch switch-3d switch-success">
                <input
                  type="checkbox"
                  class="switch-input form-control"
                  formControlName="is_active"
                />
                <span class="switch-slider"></span>
              </label>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
              <small class="text-muted"
                >Select an access level for each function group. The levels
                range from no access to delete, each access right inlcudes the
                right above it, so someone with Delete access can read, modify,
                create and delete records.</small
              >
            </div>
            <label class="col-md-3 col-form-label" for="select3"
              >User Tye</label
            >
            <div class="col-md-9">
              <select
                id="select3"
                name="select3"
                class="form-control form-control-sm"
                formControlName="user_type"
              >
                <option value="0">Please select</option>
                <option value="Not Defined">Not Defined</option>
                <option value="Buyer">Buyer</option>
                <option value="Supplier">Supplier</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="select3"
              >Companies</label
            >
            <div class="col-md-9">
              <select
                id="select3"
                name="select3"
                class="form-control form-control-sm"
                formControlName="companies"
              >
                <option value="0">Please select</option>
                <option value="No Access">No Access</option>
                <option value="Read Only">Read Only</option>
                <option value="Modify">Modify</option>
                <option value="Create">Create</option>
                <option value="Delete">Delete</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="select3"
              >Forward Plans</label
            >
            <div class="col-md-9">
              <select
                id="select3"
                name="select3"
                class="form-control form-control-sm"
                formControlName="forward_plans"
              >
                <option value="0">Please select</option>
                <option value="No Access">No Access</option>
                <option value="Read Only">Read Only</option>
                <option value="Modify">Modify</option>
                <option value="Create">Create</option>
                <option value="Delete">Delete</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="select3"
              >Processes</label
            >
            <div class="col-md-9">
              <select
                id="select3"
                name="select3"
                class="form-control form-control-sm"
                formControlName="processes"
              >
                <option value="0">Please select</option>
                <option value="No Access">No Access</option>
                <option value="Read Only">Read Only</option>
                <option value="Modify">Modify</option>
                <option value="Create">Create</option>
                <option value="Delete">Delete</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="select3"
              >Contracts</label
            >
            <div class="col-md-9">
              <select
                id="select3"
                name="select3"
                class="form-control form-control-sm"
                formControlName="contracts"
              >
                <option value="0">Please select</option>
                <option value="No Access">No Access</option>
                <option value="Read Only">Read Only</option>
                <option value="Modify">Modify</option>
                <option value="Create">Create</option>
                <option value="Delete">Delete</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="select3"
              >Purchase Orders</label
            >
            <div class="col-md-9">
              <select
                id="select3"
                name="select3"
                class="form-control form-control-sm"
                formControlName="purchase_orders"
              >
                <option value="0">Please select</option>
                <option value="No Access">No Access</option>
                <option value="Read Only">Read Only</option>
                <option value="Modify">Modify</option>
                <option value="Create">Create</option>
                <option value="Delete">Delete</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="select3">Tasks</label>
            <div class="col-md-9">
              <select
                id="select3"
                name="select3"
                class="form-control form-control-sm"
                formControlName="tasks"
              >
                <option value="0">Please select</option>
                <option value="No Access">No Access</option>
                <option value="Read Only">Read Only</option>
                <option value="Modify">Modify</option>
                <option value="Create">Create</option>
                <option value="Delete">Delete</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="select3">People</label>
            <div class="col-md-9">
              <select
                id="select3"
                name="select3"
                class="form-control form-control-sm"
                formControlName="people"
              >
                <option value="0">Please select</option>
                <option value="No Access">No Access</option>
                <option value="Read Only">Read Only</option>
                <option value="Modify">Modify</option>
                <option value="Create">Create</option>
                <option value="Delete">Delete</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="select3"
              >System Admin</label
            >
            <div class="col-md-9">
              <select
                id="select3"
                name="select3"
                class="form-control form-control-sm"
                formControlName="system_params"
              >
                <option value="0">Please select</option>
                <option value="No Access">No Access</option>
                <option value="Read Only">Read Only</option>
                <option value="Modify">Modify</option>
                <option value="Create">Create</option>
                <option value="Delete">Delete</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="select3"
              >User Admin</label
            >
            <div class="col-md-9">
              <select
                id="select3"
                name="select3"
                class="form-control form-control-sm"
                formControlName="user_admin"
              >
                <option value="0">Please select</option>
                <option value="No Access">No Access</option>
                <option value="Read Only">Read Only</option>
                <option value="Modify">Modify</option>
                <option value="Create">Create</option>
                <option value="Delete">Delete</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="closeModal()"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary" (click)="saveRecord()">
          Save
        </button>
      </div>
    </div>
  </div>
</div>

<div
  bsModal
  #deleteModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirm Delete</h4>
        <button
          type="button"
          class="close"
          (click)="deleteModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Are you sure you want to delete the {{ recordTitle }} Contract Type?
        </p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="deleteModal.hide()"
          cdkFocusInitial
        >
          Cancel
        </button>
        <button type="button" class="btn btn-danger" (click)="deleteRecord()">
          Delete
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
